#main-wrapper {
    text-align: center;
    width: 100%;
    margin: 40px 0 1% 0;
    font-size: 11px;
}
/*#TrenitaliaHeader {*/
/*    background: #000000;*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    top: 0;*/
/*    z-index: 100000000;*/
/*}*/

.news{
    width: 21px;
    height: 21px;
    padding: 5px 0 0 8px;
}

div.img {
    top: 0;
    bottom: 10;
    left: 10;
    right: 10;
    margin: auto;
    max-width: 100%;
    max-height: 15%;
/*    padding: 5px;*/
/*    border: 1px solid #0000ff;*/
/*    height: auto;*/
/*    width: auto;*/
/*    float: left;*/
/*    text-align: center;*/
}

.titleNews{
    font-family: Lato-Bold;
    font-size: 14px;
}

/*.TrenitaliaInfo {*/
/*    padding: 10px 20px;*/
/*    border-bottom: 1px solid #c2c2c2;*/
/*    -webkit-box-shadow: 0 5px 6px -6px #c2c2c2;*/
/*    -moz-box-shadow: 0 5px 6px -6px #c2c2c2;*/
/*    box-shadow: 0 5px 6px -6px #c2c2c2;*/
/*}*/
/**/
/*.TrenitaliaInfo img{*/
/*    width: 25px;*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
/*    z-index: 1;*/
/*}*/
/**/
/*.TrenitaliaInfo div {*/
/*    margin: 0;*/
/*    width: calc(100% - 30px);*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
/*}*/
/**/
/**/
/*.switchTabContainer {*/
/*    height: 30px;*/
/*    margin:auto auto;*/
/*}*/
/**/
/*.switchTab {*/
/*    float: left;*/
/*    width: 50%;*/
/*    height: 30px;*/
/*    line-height: 30px;*/
/*    text-align: center;*/
/*    font-size: 13px;*/
/*}*/
/**/
/*.switchTabSelected {*/
/*    background: #c2c2c2;*/
/*}*/
/**/
/*.switchTabContainerLarge {*/
/*    height: 40px;*/
/*    margin:auto auto;*/
/*}*/
/**/
/*.switchTabLarge {*/
/*    float: left;*/
/*    width: 50%;*/
/*    line-height: 40px;*/
/*    text-align: center;*/
/*    font-size: 13px;*/
/*    background: #2A2A2A;*/
/*    color: #FFFFFF;*/
/*}*/
/**/
/*.trenetaliaTabRadio {*/
/*    display: none;*/
/*}*/
/**/
/*.trenetaliaTabRadio:checked + label > .switchTabLarge {*/
/*    color: #FDC403;*/
/*}*/
/**/
/*.trenetaliaResultTabRadio {*/
/*    display: none;*/
/*}*/
/**/
/*.trenetaliaResultTabRadio:checked + label .switchTab {*/
/*    background: #c2c2c2;*/
/*}*/
/**/
/*.kasiEh{*/
/*    width: 50%;*/
/*    margin: auto auto;*/
/*}*/
/**/
/*.trenTitle {*/
/*    margin-left: 10px;*/
/*    padding: 10px 0;*/
/*}*/
/**/
/*.btn_cerca {*/
/*    background: #FDC403;*/
/*    border: 0;*/
/*    color: black;*/
/*    width: 120px;*/
/*    height: 40px;*/
/*    float: right;*/
/*    margin-right: 7px;*/
/*    margin-top: 10px;*/
/*    outline: none;*/
/*    font-weight: bold;*/
/*    font-size: 11px;*/
/*    background-image: url(../images/searchIcon.png);*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    background-position-x: 75%;*/
/*    background-size: 8px;*/
/*    -moz-border-radius: 0px;*/
/*    -webkit-border-radius: 0px;*/
/*    border-radius: 0px;*/
/*}*/
/**/
/*.selectTitle {*/
/*    line-height: 1em;*/
/*    font-size: 11px;*/
/*    margin: 13px 0 0 0;*/
/*}*/
/**/
/*.selectBox {*/
/*    width: 100%;*/
/*    border: 0;*/
/*    padding: 10px 0 10px 0;*/
/*    margin: 1px 0;*/
/*    -webkit-box-shadow: 0 5px 6px -6px #c2c2c2;*/
/*    -moz-box-shadow: 0 5px 6px -6px #c2c2c2;*/
/*    box-shadow: 0 5px 6px -6px #c2c2c2;*/
/*    font-size: 12px;*/
/*    white-space: normal;*/
/*    -webkit-appearance: none;*/
/*    -moz-appearance: none;*/
/*    appearance: none;*/
/*    background: transparent url("../images/arrowDownSelect.png") no-repeat 97% 85%;*/
/*    background-size: 15px;*/
/*    outline: none;*/
/*}*/
/**/
/*.selectContainer {*/
/*    padding: 0 0 0 10px;*/
/*    border-bottom: 1px solid #c2c2c2;*/
/*}*/
/**/
/*.timeWindowContainerRadio {*/
/*    display: none;*/
/*}*/
/**/
/*.labelRadio {*/
/*    width: 48%;*/
/*    display: inline-block;*/
/*}*/
/**/
/*.timeWindowContainerRadio:checked + label .timeWindow {*/
/*    background: url('../images/radioSelected.png');*/
/*    background-position-x: left;*/
/*    background-repeat: no-repeat;*/
/*    background-size: 16px;*/
/*}*/
/**/
/*.timeWindowContainerRadio + label .timeWindow {*/
/*    background: url('../images/radioNotSelected.png');*/
/*    background-position-x: left;*/
/*    background-repeat: no-repeat;*/
/*    background-size: 16px;*/
/*}*/
/**/
/*.timeWindowContainer {*/
/*    width: 88%;*/
/*    margin: 10px 0 0 10px;*/
/*}*/
/**/
/*.timeWindow > div {*/
/*    padding-left: 18px;*/
/*    padding-bottom: 3px;*/
/*}*/
/**/
/*.trainTitle {*/
/*    float: left;*/
/*    font-size: 11px;*/
/*}*/
/**/
/*.firstTitle {*/
/*    width: 54%;*/
/*    line-height: 30px;*/
/*    text-indent: 5px;*/
/*    border-bottom: 1px solid #c2c2c2;*/
/*    border-top: 1px solid #c2c2c2;*/
/*}*/
/**/
/*.secondTitle {*/
/*    width: 46%;*/
/*    border-bottom: 1px solid #c2c2c2;*/
/*    border-top: 1px solid #c2c2c2;*/
/*}*/
/**/
/*.secondTitle .switchTab {*/
/*    font-size: 11px;*/
/*}*/
/**/
/*#trenSearchList {*/
/*    padding-top: 65px;*/
/*    margin-top: 40px;*/
/*}*/
/**/
/*.locIconSmall {*/
/*    width: 12px;*/
/*    padding-left: 2px;*/
/*    position: absolute;*/
/*}*/
/**/
/*.TimeIconSmall {*/
/*    width: 16px;*/
/*    position: absolute;*/
/*}*/
/**/
/*.airplaneIconSmall {*/
/*    width: 20px;*/
/*    position: absolute;*/
/*}*/
/**/
/*.ExclamationIconSmall {*/
/*    width: 13px;*/
/*    position: absolute;*/
/*    margin-left: -1px;*/
/*}*/
/**/
/*.trainDetails {*/
/*    margin: 10px 0;*/
/*    width: 60%;*/
/*    float: left;*/
/*}*/
/**/
/*.trainDetailsTitle {*/
/*    margin-top: 5px;*/
/*    padding: 5px 0 5px 5px;*/
/*    font-size: 12px;*/
/*    background: #c2c2c2;*/
/*}*/
/**/
/*.trainDetailsLocal > div, .trainDetailsBinary > div {*/
/*    padding-left: 20px;*/
/*    padding-top: 3px;*/
/*    margin: 5px 0;*/
/*    font-size: 11px;*/
/*}*/
/**/
/*.trainDetailsLocal > div > b, .trainDetailsBinary > div > b {*/
/*    font-size: 10px;*/
/*}*/
/**/
/*.searchBox {*/
/*    height: 105px;*/
/*    padding: 0 10px;*/
/*    border-bottom: 1px solid #c2c2c2;*/
/*    -webkit-box-shadow: 0 5px 6px -6px #c2c2c2;*/
/*    -moz-box-shadow: 0 5px 6px -6px #c2c2c2;*/
/*    box-shadow: 0 5px 6px -6px #c2c2c2;*/
/*    background-color: transparent;*/
/*}*/
/**/
/*.timeDetailsnext {*/
/*    margin: 10px 0;*/
/*    width: 40%;*/
/*    float: right;*/
/*}*/
/**/
/*.timeDetailsTitle {*/
/*    font-size: 12px;*/
/*    background: #c2c2c2;*/
/*    color: white;*/
/*    padding: 5px 0 5px 5px;*/
/*}*/
/**/
/*.timeDetailsHour > div, .timeDetailsNext > div {*/
/*    padding-left: 20px;*/
/*    padding-top: 3px;*/
/*    margin: 5px 0;*/
/*    font-size: 11px;*/
/*}*/
/**/
/*#searchResults {*/
/*    margin-top: 34px;*/
/*}*/
/**/
/*.searchTextField {*/
/*    border: none;*/
/*    outline: none;*/
/*    width: 100%;*/
/*}*/
/**/
/*.inputTextContainer {*/
/*    padding: 10px 0 0 5px;*/
/*    border-bottom: 1px solid #c2c2c2;*/
/*    -webkit-box-shadow: 0 5px 6px -6px #c2c2c2;*/
/*    -moz-box-shadow: 0 5px 6px -6px #c2c2c2;*/
/*    box-shadow: 0 5px 6px -6px #c2c2c2;*/
/*}*/
/**/
/*.zeroResults {*/
/*    padding: 5px;*/
/*    color: gray;*/
/*    font-style: italic;*/
/*    font-size: 11px;*/
/*}*/
